body{
    background-color: black;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_cards{
    width: 350px;
    height: 400px;
    margin-top: 90px;
    margin-left: 20px;
}

button{
    background-color: rgb(33, 31, 53);
    color: white;
    font-family:  monospace;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 50PX;
    width: 200px;
    height: 100px;
    border-radius: 20px;
}

.container_score, .container_data{
    display: flex;
    justify-content: center;
    align-items: center;
}



h1, h2,h3{
    font-size: 50px;
    color: white;
    font-family: monospace;
    margin-right: 10px;
}